name: ESP32 Hardware CI

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install robotframework
        pip install pyserial

    - name: Run Robot Test
      run: |
        robot esp_test.robot

    - name: Upload Report
      uses: actions/upload-artifact@v4
      with:
        name: Robot-Report
        path: |
          log.html
          report.html
          output.xml
